body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.All {
	width:960px;
	margin: 0 auto;
	padding: 5px;
}
.Header {
	height: 40px;
}
.Hitem {
	float: left;
}
.Acct {
	float: right;
}
.Header * {
	width: 140px;
	border: 1px solid black;
	text-align: center;
	padding: 5px 0px;
	text-decoration: none;
	color: black;
	margin: 5px;
	background: #F4F4F4;
}
.Acct {

}
.WideIn {
	width: 250px;
	height: 30px;
	margin: 0px 25px 50px 25px;
}
.SmallIn {
	width: 200px;
	height: 30px;
	margin: 0px 50px 50px 50px;
}
.Center {

}
.Cen {
	width:300px;
	float:left;
	padding:10px;
}
.Bubble {
	color:#666666;
	border:4px solid #83165c;
	border-radius:10px;
	-moz-border-radius:10px;
	width: 250px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 0px;
	margin: 10px 25px;
}
.SmallChecks {
	height: 150px;
}
.SmallChecks p {
	width: 140px;
	padding: 0px 5px;
}
.SmallChecks div {
	float: left;
}
.HorBar * {
	float: left;
}
.HorBar p { 
	font-size: 28px;
	color:#666666;
	width: 500px;
	text-align: center;
	padding: 0px 15px;
}
.BigB {
	width: 300px;
	height: 50px;
	text-align: center;
	padding: 15px 0px;
	font-size: 24px;
	color: #83165c;
	margin: 40px 0px;
}